
# VS缓存
.vs
.vscode

# 生成文件
**/Debug
**/Release
**/x64

# Flex & Bison 生成文件
**/parser.c
**/parser.h
**/lexer.c

*.out
*.exe
*.obj
*.o

3rdparty/bin
3rdparty/d3/data.json

**/parser.output

packages

Compiler/test/*.json